
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 1000px) {
    nav{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
    }
   
}

.links {
    display: flex;
}

nav a {
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    color: grey;
  }
@media (max-width: 500px) {
    nav a{
       width: 100%
    }
   
}
  
.icons{
    margin: 20px;
    display: flex;
    align-items: center;
  }

@media (max-width: 500px) {
    .icons{
       width: 100%;
       margin: 5px
    }
   
}

li {
    list-style-type: none;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

.icon.medium, .icon.twitter, .icon.processing  {
    width: 18px
}

.icon.trinket, .icon.repl {
    width: 20px
}

.icon.hacker {
    width: 23px;
   
}
  
.icon:before {
    -moz-osx-font-smoothing:gray;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.first-impression {
    background-color: rgb(250, 233, 216);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    
}

@media (max-width: 1000px) {
    .first-impression {
        flex-direction: column;
        padding: 30px
    }
   
}


img {
    width: 100%;
    height: auto
}


.pitch {
    width: 50%;
    margin-left: 30px;
    font-family:  "Gill Sans", sans-serif;
    color: #343235
    
}

@media (max-width: 1000px) {
    .pitch {
       width: 100%;
       margin-left: 0;
       text-align: center;
    }
   
}

.name {
    font-size: 70px;
    margin: 0;
}

@media (max-width: 500px) {
    .name {
       font-size: 30px;
    }
   
}

.proposition {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 20px;
}

@media (max-width: 500px) {
    .proposition {
       font-size: 18px;
    }
   
}

.intro {
    font-size: 18px;
    color: #847D76
}

  
.top-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius:2px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    font-family:  "Gill Sans", sans-serif;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
}



.project-name {
    font-family:  "Gill Sans", sans-serif;
    color: #858485 ;
    font-size: 30px;
    padding: 10px 0 10px 20px;
}

.project-info {
    display: flex;
    justify-content: space-around;
    
}

@media (max-width: 1000px) {
    .project-info{
       flex-direction: column;
       align-items: center;
    }
   
}

.image {
    width: 40%;
    text-align: center;
}

@media (max-width: 1000px) {
    .image{
       width: 90%
    }
   
}

.project-image {
    width: 100%;
   
}

.details {
    display: flex;
    flex-direction: column;
    width: 40%;
}

@media (max-width: 1000px) {
    .details{
       width: 90%;
       /* background-color: yellow; */
    }
   
}

.content {
    background-color: white;
    margin: 10px;
    padding: 5px 20px 10px 20px;
    border-radius:2px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
}

@media (max-width: 1000px) {
    .content{
       margin: 10px 0 10px 0;
       width: 95%;
    }
   
}

@media (max-width: 500px) {
    .content{
       margin: 10px 0 10px 0;
       width: 87%;
    }
   
}

.title {
    font-size: 18px;
    color: #858485 ;
}


button, .btn {
    padding: 5px;
    border-radius: 6px;
    font-family:  "Gill Sans", sans-serif;
    color: #343235;
    font-size: 14px;
    margin-bottom: 20px;
    text-decoration: none;
}

.note-container {
    padding: 20px 40px 20px 40px;
    background-color: #F9F6F6 
}