nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 1000px) {
    nav{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
    }
   
}

nav a {
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    color: grey;
  }

@media (max-width: 500px) {
    nav a{
       width: 100%
    }
   
}

.links {
    display: flex;
}
  
.icons{
    margin: 20px;
    display: flex;
    align-items: center;
  }
@media (max-width: 500px) {
    .icons{
       width: 100%;
       margin: 5px
    }
   
}

li {
    list-style-type: none;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }

.icon.medium, .icon.twitter, .icon.processing  {
    width: 18px;
    margin-right: 15px
}

.icon.trinket, .icon.repl {
    width: 20px;
    margin-right: 15px
}

.icon.hacker {
    width: 23px;
    margin-right: 15px
}
  
.icon:before {
    -moz-osx-font-smoothing:gray;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

@media (max-width: 500px) {
    .projects{
       flex-direction: column;
       padding: 0 10px 10px 10px
    }
   
}

.project-card {
    width: 20%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid brown; */
    padding: 10px;
    border-radius: 10px;
    background-color: #FCFBF9; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    font-family:  "Gill Sans", sans-serif;
    margin: 10px;
    /* justify-content: space-between; */   
}

@media (max-width: 500px) {
    .project-card{
       width: 90%;
    }
   
}

.image {
    height: 60%;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: flex-start;
    height: 100%;
}

.project-name {
    font-size: 20px;
    color:  #E36641;
    margin-bottom: 10px;
}

.introduction {
    color: #524F4F ;
    margin-bottom: 10px;
}

.tech-stack {
    color:   #9F9896 ;
    font-size: 14px;
    font-style: italic;
}
.link {
    display: flex;
    justify-content: flex-end;
}

a {
    margin-right: 10px
}

